<ion-header>
    <ion-toolbar>
      <ion-title>      
        <ion-row>
            <ion-col>
              <div><ion-icon [routerLink]="'/tabs/tab1'" name="arrow-back"> </ion-icon></div>
            </ion-col>
            <ion-col>
                <ion-label>Buku Pelajaran</ion-label>
            </ion-col>
            <ion-col>
              <div></div>
            </ion-col>
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>  
      <ion-searchbar></ion-searchbar>
      <ion-card>
          
        <ion-card-header>
          <ion-card-title>Fokus UN </ion-card-title>
        </ion-card-header>
        <img src="/assets/un1.jpg"/>
    <ion-card-content>
       Buku Fokus UN 2019 Untuk SMP/MTS
       Rp. 75.000;
      </ion-card-content>
      
      <ion-button full (click)="Pesan()">Beli</ion-button>
    </ion-card>
    <ion-card>
          
        <ion-card-header>
          <ion-card-title>Matematika </ion-card-title>
        </ion-card-header>
        <img src="/assets/mat1.jpg"/>
    <ion-card-content>
       Buku Matematika untuk SD/MI Kelas I
       Rp. 50.000;
      </ion-card-content>
      
      <ion-button full (click)="Pesan()">Beli</ion-button>
    </ion-card>
    <ion-card>
          
        <ion-card-header>
          <ion-card-title>Matematika </ion-card-title>
        </ion-card-header>
        <img src="/assets/mat2.jpg"/>
    <ion-card-content>
        Buku Matematika untuk SD/MI Kelas IV
       Rp. 50.000;
      </ion-card-content>
      
      <ion-button full (click)="Pesan()">Beli</ion-button>
    </ion-card>
    <ion-card>
          
        <ion-card-header>
          <ion-card-title>Ipa </ion-card-title>
        </ion-card-header>
        <img src="/assets/ipa1.jpg"/>
    <ion-card-content>
        Buku IPA untuk SMP Kelas VIII
       Rp. 35.000;
      </ion-card-content>
      
      <ion-button full (click)="Pesan()">Beli</ion-button>
    </ion-card>
    <ion-card>
          
        <ion-card-header>
          <ion-card-title>Ipa </ion-card-title>
        </ion-card-header>
        <img src="/assets/ipa2.jpg"/>
    <ion-card-content>
        Buku IPA untuk SMP Kelas VII
       Rp. 40.000;
      </ion-card-content>
      
      <ion-button full (click)="Pesan()">Beli</ion-button>
    </ion-card>
    <ion-card>
          
        <ion-card-header>
          <ion-card-title>Fisika </ion-card-title>
        </ion-card-header>
        <img src="/assets/fis1.jpg"/>
    <ion-card-content>
        Buku Fisiska untuk SMA Kelas X
       Rp. 60.000;
      </ion-card-content>
      
      <ion-button full (click)="Pesan()">Beli</ion-button>
    </ion-card>
    <ion-card>
          
        <ion-card-header>
          <ion-card-title>Ekonomi</ion-card-title>
        </ion-card-header>
        <img src="/assets/eko1.jpg"/>
    <ion-card-content>
        Buku Ekonomi untuk SMA Kelas XII
       Rp. 55.000;
      </ion-card-content>
      
      <ion-button full (click)="Pesan()">Beli</ion-button>
    </ion-card>

         
         
  </ion-content>
  