ion-header{
    --ion-background-color:#FF9966;
  }
ion-content{

    --ion-background-color:#BDB76B;
  }
ion-card{
    --ion-background-color:#F0F8FF;
}
ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}

.category-block {
    margin-bottom: 4px;
}

.category-banner {
    border-left: 8px solid var(--ion-color-secondary);
    background: var(--ion-color-secondary);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}