<ion-header>
        <ion-toolbar>
          <ion-title>      
            <ion-row>
                <ion-col>
                  <div><ion-icon [routerLink]="'/tabs/tab1'" name="arrow-back"> </ion-icon></div>
                </ion-col>
                <ion-col>
                    <ion-label>Umum</ion-label>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
            </ion-row>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>  
          <ion-searchbar></ion-searchbar>
          <ion-grid>
              <ion-row>
                
                <ion-col>
          <ion-card>
          
              <ion-card-header>
                <ion-card-title>Makanan</ion-card-title>
              </ion-card-header>
              <img src="/assets/me3.jpg"/>
          <ion-card-content>
              Buku 40 Resep Makanan
             Rp. 35.000;
            </ion-card-content>
            
            <ion-button full (click)="Pesan()">Beli</ion-button>
          </ion-card>
        </ion-col>
          <ion-col>
          <ion-card>
          
              <ion-card-header>
                <ion-card-title>Makanan </ion-card-title>
              </ion-card-header>
              <img src="/assets/me2.jpg"/>
          <ion-card-content>
              Buku Resep Rumahan
             Rp. 50.000;
            </ion-card-content>
            
            <ion-button full (click)="Pesan()">Beli</ion-button>
          </ion-card>
        </ion-col>
          <ion-col>
          <ion-card>
          
              <ion-card-header>
                <ion-card-title>Agama </ion-card-title>
              </ion-card-header>
              <img src="/assets/ag1.jpg"/>
          <ion-card-content>
              Buku Agama Untuk Peradaban
             Rp. 55.000;
            </ion-card-content>
            
            <ion-button full (click)="Pesan()">Beli</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

        <ion-grid>
            <ion-row>
          <ion-col>
          <ion-card>
          
              <ion-card-header>
                <ion-card-title>Agama</ion-card-title>
              </ion-card-header>
              <img src="/assets/ag2.jpg"/>
          <ion-card-content>
              Buku Agama, Negara & HAM
             Rp. 65.000;
            </ion-card-content>
            
            <ion-button full (click)="Pesan()">Beli</ion-button>
          </ion-card>
        </ion-col>

          <ion-col>
          <ion-card>
          
              <ion-card-header>
                <ion-card-title>Politik</ion-card-title>
              </ion-card-header>
              <img src="/assets/po1.jpg"/>
          <ion-card-content>
              Buku Politik dan Kebebasan
             Rp. 35.000;
            </ion-card-content>
            
            <ion-button full (click)="Pesan()">Beli</ion-button>
          </ion-card>
        </ion-col>

          <ion-col>
          <ion-card>
          
              <ion-card-header>
                <ion-card-title>Politik </ion-card-title>
              </ion-card-header>
              <img src="/assets/po2.jpg"/>
          <ion-card-content>
              Buku Politik Hukum di Indonesia
             Rp. 40.000;
            </ion-card-content>
            
            <ion-button full (click)="Pesan()">Beli</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                    
                        <ion-card-header>
                          <ion-card-title>Politik </ion-card-title>
                        </ion-card-header>
                        <img src="/assets/po3.jpg"/>
                    <ion-card-content>
                        Buku Politik Hukum 
                       Rp. 50.000;
                      </ion-card-content>
                      
                      <ion-button full (click)="Pesan()">Beli</ion-button>
                    </ion-card>
                  </ion-col>
                  <ion-col>
                      <ion-card>
                      
                          <ion-card-header>
                            <ion-card-title> Motivasi </ion-card-title>
                          </ion-card-header>
                          <img src="/assets/po6.jpg"/>
                      <ion-card-content>
                          Buku 99 Detik jadi Pengusaha
                         Rp. 30.000;
                        </ion-card-content>
                        
                        <ion-button full (click)="Pesan()">Beli</ion-button>
                      </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-card>
                        
                            <ion-card-header>
                              <ion-card-title>Motivasi </ion-card-title>
                            </ion-card-header>
                            <img src="/assets/po7.jpg"/>
                        <ion-card-content>
                            Buku Rahasia Sukses menjadi Pengusaha
                           Rp. 45.000;
                          </ion-card-content>
                          
                          <ion-button full (click)="Pesan()">Beli</ion-button>
                        </ion-card>
                      </ion-col>
                                    
      </ion-row>
    </ion-grid>
      </ion-content>
      