<ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-row>
          <ion-col>
              <div><ion-icon [routerLink]="'/tabs/tab4'" name="arrow-back"> </ion-icon></div>
                      </ion-col>
          <ion-col>
            <div>Akun</div>
          </ion-col>
          <ion-col>
            <div></div>
          </ion-col>
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
   
      <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input [(ngModel)]="firstname" name="fName"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input [(ngModel)]="lastname" name="Name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
    
      <ion-button full (click)="register()" type="submit" expand="full" color="danger">Register</ion-button>
   
    <p text-center>Already have an account?</p>
    <ion-button [routerLink]="'/tabs/tab4'" expand="full" color="primary" (click)="loginModal()">Login</ion-button>
  </ion-content>  