<ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-row>
          <ion-col>
            <div></div>
          </ion-col>
          <ion-col>
            <div>Akun</div>
          </ion-col>
          <ion-col>
            <div></div>
          </ion-col>
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input ngModel type="email" name="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input ngModel type="password" name="password"></ion-input>
      </ion-item>
    
      <p text-right>Forgot Password?</p>
    
      <ion-button (click)="Success()" type="submit" expand="full" color="primary">Login</ion-button>
    </form>
    <p text-center>Don't have an account?</p>
        <ion-button [routerLink]="'/tabs/tab4-detail'" expand="full" color="danger" (click)="registerModal()">Register</ion-button>
  </ion-content>