<ion-header>
  <ion-toolbar color="light">
    <ion-title>
    
          <div>BakoolBuku.com</div>
        
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
<ion-col>
    
      <img class="img-responsive" src="/assets/logo2.jpg" alt="" width=100% height="auto" />
      <ion-card class="welcome-card" color="light" width=100% height="auto" >
      <ion-card-header>
        <ion-card-subtitle> BakoolBuku.Com </ion-card-subtitle>
        <ion-card-title>Yuk Beli Buku di BakoolBuku.Com </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Selamat Datang di Toko Buku Online </p>
      </ion-card-content>
               </ion-card>
        </ion-col>
        <ion-card-header>
            <ion-card-title>Kategori Buku :</ion-card-title>
          </ion-card-header>
        <ion-grid>
          <ion-row>
            
            <ion-col>
              
                <ion-card class="welcome-card">
                    <img src="/assets/12.png" alt="" width=80% height=80% />
                    <ion-item [routerLink]="'/tabs/tab1/detail'">
                      <ion-icon slot="start" color="high" name="book"></ion-icon>
                      <ion-label>Buku Pelajaran</ion-label>
                    </ion-item>
                    <ion-card-header>
                    </ion-card-header>
                             </ion-card>
                            </ion-col>
                
             <ion-col> 
                <ion-card class="welcome-card">
                    <img src="/assets/31.jpg" alt="" width=80% height="auto" />
                    <ion-item [routerLink]="'/tabs/tab1/detail3'">
                      <ion-icon slot="start" color="high" name="book"></ion-icon>
                      <ion-label>Novel</ion-label>
                    </ion-item>
                    <ion-card-header>
                    </ion-card-header>
                             </ion-card>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                        <ion-grid>
                            <ion-row>
             <ion-col> 
                <ion-card class="welcome-card">
                    <img src="/assets/13.jpg" alt="" width=80% height=130% />
                    <ion-item [routerLink]="'/tabs/tab1/detail2'">
                      <ion-icon slot="start" color="high" name="book"></ion-icon>
                      <ion-label>Perguruan Tinggi</ion-label>
                    </ion-item>
                    <ion-card-header>
                    </ion-card-header>
                             </ion-card>
                            </ion-col>
     
              
              <ion-col> 
                  <ion-card class="welcome-card">
                      <img src="/assets/32.jpg" alt="" width=80% height=130% />
                      <ion-item [routerLink]="'/tabs/tab1/detail4'">
                        <ion-icon slot="start" color="high" name="book"></ion-icon>
                        <ion-label>Umum</ion-label>
                      </ion-item>
                      <ion-card-header>
                      </ion-card-header>
                               </ion-card>
                              </ion-col>
    
   
  
  </ion-row>
  </ion-grid>
</ion-content>
