<ion-header>
  <ion-toolbar color="light">
    <ion-title>
    
          <div>BakoolBuku.com</div>
        
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
<ion-col>
    
      <img class="img-responsive" src="/assets/logo2.jpg" alt="" width=100% height="auto" />
      <ion-card class="welcome-card" color="light" width=100% height="auto" >
      <ion-card-header>
        <ion-card-subtitle> BakoolBuku.Com </ion-card-subtitle>
        <ion-card-title>Yuk Beli Buku di BakoolBuku.Com </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Kios Buku Online Terlengkap BakoolBuku.com </p>
      </ion-card-content>
               </ion-card>
        </ion-col>
        <ion-card-header>
            <ion-card-title>Kategori Buku :</ion-card-title>
          </ion-card-header>
        <ion-grid>
          <ion-row>
            
            <ion-col>
              
                <ion-card class="welcome-card">
                    <img img class="img-responsive" src="/assets/12.png" alt="" width=80% height=80% />
                    <ion-item [routerLink]="'/tabs/tab1/detail'">
                      <ion-icon slot="start" color="high" name="book"></ion-icon>
                      <ion-label>Buku Pelajaran</ion-label>
                    </ion-item>
                    <ion-card-header>
                        <p> Kumpulan buku-buku Pelajaran untuk pelajar SD, SMP dan SMA  </p>
                    </ion-card-header>
                             </ion-card>
                            </ion-col>
                
             <ion-col> 
                <ion-card class="welcome-card">
                    <img img class="img-responsive" src="/assets/31.jpg" alt="" width=80% height="auto" />
                    <ion-item [routerLink]="'/tabs/tab1/detail3'">
                      <ion-icon slot="start" color="high" name="book"></ion-icon>
                      <ion-label>Novel</ion-label>
                    </ion-item>
                    <ion-card-header>
                        <p> Kumpulan buku novel mulai dari remaja hingga dewasa  </p>
                    </ion-card-header>
                             </ion-card>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                        <ion-grid>
                            <ion-row>
             <ion-col> 
                <ion-card class="welcome-card">
                    <img img class="img-responsive" src="/assets/13.jpg" alt="" width=80% height=130% />
                    <ion-item [routerLink]="'/tabs/tab1/detail2'">
                      <ion-icon slot="start" color="high" name="book"></ion-icon>
                      <ion-label>Perguruan Tinggi</ion-label>
                    </ion-item>
                    <ion-card-header>
                        <p> Kumpulan buku-buku untuk mahasiswa mengenai hukum, manajemen, pemrograman dll  </p>
                    </ion-card-header>
                             </ion-card>
                            </ion-col>
     
              
              <ion-col> 
                  <ion-card class="welcome-card">
                      <img img class="img-responsive" src="/assets/32.jpg" alt="" width=80% height=130% />
                      <ion-item [routerLink]="'/tabs/tab1/detail4'">
                        <ion-icon slot="start" color="high" name="book"></ion-icon>
                        <ion-label>Umum</ion-label>
                      </ion-item>
                      <ion-card-header>
                          <p> Kumpulan buku-buku umum mengenai memasak, politik, keagamaan dll  </p>
                      </ion-card-header>
                               </ion-card>
                              </ion-col>
  
  </ion-row>
  </ion-grid>
</ion-content>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="medium">
    <ion-icon name="arrow-dropup"></ion-icon>
  </ion-fab-button>
<ion-fab-list side="top">
<ion-fab-button color="light">
  <ion-icon name="logo-facebook"></ion-icon>
</ion-fab-button>
<ion-fab-button color="light">
    <ion-icon name="logo-twitter"></ion-icon>
  </ion-fab-button>
  <ion-fab-button color="light">
      <ion-icon name="logo-vimeo"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      </ion-fab-list>
</ion-fab>