<ion-header>
        <ion-toolbar>
          <ion-title>      
            <ion-row>
                <ion-col>
                  <div><ion-icon [routerLink]="'/tabs/tab1'" name="arrow-back"> </ion-icon></div>
                </ion-col>
                <ion-col>
                    <ion-label>Novel</ion-label>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
            </ion-row>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>  
          <ion-searchbar></ion-searchbar>
          <ion-grid>
              <ion-row>
                <ion-col>
          <ion-card>
          
              <ion-card-header>
                <ion-card-title>Kehidupan </ion-card-title>
              </ion-card-header>
              <img src="/assets/ke1.jpg"/>
          <ion-card-content>
              Novel Anak Rantau
             Rp. 60.000;
            </ion-card-content>
            
            <ion-button full (click)="Pesan()">Beli</ion-button>
          </ion-card>
        </ion-col>

          <ion-col>
              <ion-card>
          
                  <ion-card-header>
                    <ion-card-title>Cinta </ion-card-title>
                  </ion-card-header>
                  <img src="/assets/ks2.jpg" height="auto"/>
              <ion-card-content>
                  Novel Ketika Cinta Bertasbih (Best Seller)
                 Rp. 45.000;
                </ion-card-content>
                
                <ion-button full (click)="Pesan()">Beli</ion-button>
              </ion-card>
        </ion-col>

          <ion-col>
          <ion-card>
          
              <ion-card-header>
                <ion-card-title>Cinta </ion-card-title>
              </ion-card-header>
              <img src="/assets/ks1.jpeg"/>
          <ion-card-content>
              Novel Kisah Terlarang
             Rp. 65.000;
            </ion-card-content>
            
            <ion-button full (click)="Pesan()">Beli</ion-button>
          </ion-card>
        </ion-col>
           </ion-row>
    </ion-grid>
    
        <ion-grid>
            <ion-row>
          <ion-col>
              <ion-card>
          
                  <ion-card-header>
                    <ion-card-title>Kehidupan</ion-card-title>
                  </ion-card-header>
                  <img src="/assets/hsm1.jpg"/>
              <ion-card-content>
                  Novel Kehidupan Setelah Mati
                 Rp. 55.000;
                </ion-card-content>
                
                <ion-button full (click)="Pesan()">Beli</ion-button>
              </ion-card>
          
        </ion-col>
          <ion-col>
          <ion-card>
          
              <ion-card-header>
                <ion-card-title>Remaja </ion-card-title>
              </ion-card-header>
              <img src="/assets/kss1.jpg"/>
          <ion-card-content>
              Novel Kesetiaan Seorang Sahabat
             Rp. 45.000;
            </ion-card-content>
            
            <ion-button full (click)="Pesan()">Beli</ion-button>
          </ion-card>
        </ion-col>
          <ion-col>
          <ion-card>
          
              <ion-card-header>
                <ion-card-title>Remaja</ion-card-title>
              </ion-card-header>
              <img src="/assets/ls1.jpg"/>
          <ion-card-content>
              Novel Lamunan Senja
             Rp. 55.000;
            </ion-card-content>
            
            <ion-button full (click)="Pesan()">Beli</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

        <ion-grid>
            <ion-row>
        <ion-col>
            <ion-card>
            
                <ion-card-header>
                  <ion-card-title>Remaja</ion-card-title>
                </ion-card-header>
                <img src="/assets/no5.jpg"/>
            <ion-card-content>
                Novel Paris My Sweet
               Rp. 48.000;
              </ion-card-content>
              
              <ion-button full (click)="Pesan()">Beli</ion-button>
            </ion-card>
          </ion-col>
          <ion-col>
              <ion-card>
              
                  <ion-card-header>
                    <ion-card-title>Horror</ion-card-title>
                  </ion-card-header>
                  <img src="/assets/no3.jpg"/>
              <ion-card-content>
                  Novel Kisah Tanah Jawa
                 Rp. 65.000;
                </ion-card-content>
                
                <ion-button full (click)="Pesan()">Beli</ion-button>
              </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                
                    <ion-card-header>
                      <ion-card-title>Remaja</ion-card-title>
                    </ion-card-header>
                    <img src="/assets/no4.jpg"/>
                <ion-card-content>
                    Novel Pulang
                   Rp. 55.000;
                  </ion-card-content>
                  
                  <ion-button full (click)="Pesan()">Beli</ion-button>
                </ion-card>
              </ion-col>
      </ion-row>
    </ion-grid>
      </ion-content>
      